on: [push]

name: Build Docker Image And Submit Metadata To Reliza Hub

jobs:
  build-backend:
    name: Build And Push Backend
    runs-on: ubuntu-latest
    env:
      IMAGE_NAMESPACE: registry.relizahub.com/library
      IMAGE_NAME: rebom-backend
      DIR: backend
    steps:
      - name: RelizaHub Build And Submit Release metadata action
        uses: relizaio/reliza-docker-action@1.2
        with:
          registry_username: ${{ secrets.DOCKER_LOGIN }}
          registry_password: ${{ secrets.DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: $IMAGE_NAMESPACE
          image_name: $IMAGE_NAME
          reliza_api_id: ${{ secrets.RELIZA_BACKEND_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_BACKEND_API_KEY }}
          path: $DIR
  build-frontend:
    name: Build And Push Frontend
    runs-on: ubuntu-latest
    env:
      IMAGE_NAMESPACE: registry.relizahub.com/library
      IMAGE_NAME: rebom-frontend
      DIR: frontend
    steps:
      - name: RelizaHub Build And Submit Release metadata action
        uses: relizaio/reliza-docker-action@1.2
        with:
          registry_username: ${{ secrets.DOCKER_LOGIN }}
          registry_password: ${{ secrets.DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: $IMAGE_NAMESPACE
          image_name: $IMAGE_NAME
          reliza_api_id: ${{ secrets.RELIZA_FRONTEND_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_FRONTEND_API_KEY }}
          path: $DIR
  build-helm:
    name: Build And Push Helm Chart
    runs-on: ubuntu-latest
    env:
      HELM_CHART_REPO: https://registry.relizahub.com/chartrepo/library/
      HELM_CHART_NAME: rebom
      DIR: helm
    steps:
      - name: RelizaHub Build And Submit Release metadata action
        uses: relizaio/reliza-helm-action@master
        with:
          repository_username: ${{ secrets.DOCKER_LOGIN }}
          repository_password: ${{ secrets.DOCKER_TOKEN }}
          repository_host: $HELM_CHART_REPO
          helm_chart_name: $HELM_CHART_NAME
          reliza_api_id: ${{ secrets.RELIZA_HELM_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_HELM_API_KEY }}
          path: $DIR
